.card-header{
    background: #06093D;
    color: white;
}
.pie{
    background: #5AC5FF;
    color: black !important;
}

.modal-header{
    background: #0B71A5; 
    color: white;
}
.card-footer{
    background: #06093D;
    color: white;
}