<app-header></app-header>
<!DOCTYPE html>

<html style="width:1180;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prueba</title>
   
</head>

<body style="background-color:white">
        <div class="container">
            <br>
            <br>
                <div class="row">
                        <div class="col">
                                <img src="../../../assets/img/HANDLOGO.png" class="rounded" alt="...">
                        </div>
                    
                        <div class="col">
                                <form method="post">
                              
                                        <h2 class="text-center"><strong>Iniciar</strong> Sesion</h2>
                                        <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" [(ngModel)]="email"></div>
                                        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Contraseña" [(ngModel)]="password"></div>
                         
                                        <div class="form-group">
                                        </div>
                                        <div class="form-group"><button class="btn btn-primary btn-block" (click)='iniciarSecion()'type="button">Iniciar sesión</button>
                                        </div>
                                        <button  class="btn btn-secondary btn-block" (click)='soypendejo()'> Olvide mi contraseña</button> 
                                    </form>
                        </div>
                      </div>
                     
                     
                    </div>  
              
               

   <br>
   <br>
<br>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
