#fullPage{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.mediador{
    margin: 2%;
}
.card{
    margin-top: 4%;
    margin-left: 0px;
    color: white; 
}
.card .card-body a{color: black; }
.card .card-body a:hover{color:white; }

.mediador .col .row .col .container .container{
    width: 50% !important;
    margin: 0% !important;
}