<app-header></app-header>
<div class="mediador">
<div class="col">
        
            <div class="row">
                <div class="col-md-6">
                    <div class="container"><app-footer class="container"></app-footer></div>
                        
                </div>
                <div class="col-md-6">
                        
                        
                
                    <div class="container">

                            <div class="card text-white bg-primary" style="width: 100%rem; height: 100%;">
                                    <div class="card-header">¿Que Somos?</div>
                                        <div class="card-body">
                                            <h3 class="card-title">A HAND</h3>
                                            <p class="card-text">Somos una Organozacion que se dedica a 
                                                ayudar a personas, que ganas de superar y 
                                                encontrar empleo, ya sea dentro o fuera de su ciudad.
                                                de la misma manera ayudamos a las empresas a 
                                                satisfacer a las empresas a conseguir personal
                                                ya que permitimos la publicacion de vacantes
                                                disponibles.</p>
                                            <a href="registrar" class="card-link">Registrar Como Empleado -</a>
                                            <a href="registrarEmpresa" class="card-link">Registrar Como Empresa</a>
                                        </div>
                                </div>
                                <a class="btn btn-primary col-md-12" routerLink="login">Ya tengo una Cuenta (Login)</a>
     
                            </div>
                         
                    </div>
                </div>
            </div>
        </div>

